@media only screen and (max-width: 1500px) {
    .container{
        width: 800px;
    }
}
@media only screen and (max-width: 1300px) {
    .post-wrap{
        .post-next{
            right: -60px;
        }
        .post-prev{
            left: -60px;
        } 
        
    }
    .container{
        width: 1000px;
    }
    .aside {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background: #fff;
        border-radius: 0px;
        padding: 16px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100;;
    }
    .logo {
        display: block;
        width: 102px;
        height: 16px;
        background: url(../img/logo_min.png) center center no-repeat;
    }
    .page{
        border-radius: 16px 16px 0px 0px;
        background: url(../img/page_bg_min.png) left top/100% 200px no-repeat;
    }
    .main {
        padding: 72px 0;
    }
    .nav{
        display: flex;
        gap: 50px;
    }
    .aside__nav {
        flex-direction: row;
        padding-top: 0;
        gap: 16px;
        align-items: center;
        order: 1;
        .btn{
            height: 28px;
            padding: 0 16px;
            font-size: 14px;
            &:last-child{
                margin: 0 0 0 30px;
            }
        }
    }
    .lang{
        margin: 0;
        padding: 0;
        order: 3;
        a{
            color: $text-color;
        }
    } 
    .username{
        color: $text-color;
        align-items: center;
        order: 2;
    }











}
@media only screen and (max-width: 1100px) {
    
    .login, .app-group, hr{
        display: none;
    }
    .main {
        padding: 72px 0;
    }
    .btn.btn_head{
        display: flex;
        height: 40px;
        padding: 0 24px;
        font-family: $f450;
        font-size: 18px;
        line-height: 22px;
    }
    
    .post{
        margin-bottom: 40px;
    }
    .post__pic, .slick-list, .post__video, .post__audio {
        border-radius: 0;
    }
    .post__action {
        margin: 26px 0 18px;
        padding: 0 15px;
    }
    .post__text{
        padding: 0 15px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; 
        position: relative;
        &.full{
            -webkit-line-clamp: initial; 
        }
    }
    .post__all{
        padding: 0 15px;
    }
    .post__more{
        display: block;
        position: absolute;
        right: 15px;
        bottom: 1px;
        font-size: 16px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #939AAE;
        font-family: $f450;
        cursor: pointer;
        padding-left: 15px;
        background: #fff;
        transition: $transition;
        &::before{
            display: block;
            content: '';
            width: 40px;
            height: 20px;
            left: -40px;
            top: 0;
            position: absolute;
            background: -moz-linear-gradient(left,  rgba(30,87,153,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  rgba(30,87,153,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        }
        &:hover{
            text-decoration-line: none;
            color: $text-color;
        }
    }
    body.oh {
        padding-right: 0;
    }
    .modal {
        z-index: 1000;
        left: calc(50%);
        width: 340px;
    }
    .modal-bg.vis{
        z-index: 1000;
    }
    .modal__body {
        padding: 50px;
    }
    .modal__close {
        top: 16px;
        right: 16px;
    }
    .modal__logo {
        background: url(../img/logo_min_modal.png) center center no-repeat;
        width: 154px;
        height: 24px;
        margin: 0 auto 24px;
    }
    .modal__desc{
        width: auto;
    }
    .modal__desc_min{
        display: block;
        width: auto;
        margin-bottom: 24px;
    }
    .modal__action {
        flex-direction: column;
        gap: 16px;
    }
    .modal_btn {
        width: 240px;
    }
    .post-wrap{
        .post-next{
            right: -100px;
        }
        .post-prev{
            left: -100px;
        } 
    }
    #hamburger {
        width: 24px;
        height: 18px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    #hamburger span:first-child {
        top: 0;
        transform-origin: left center;
    }
    #hamburger span:nth-child(2) {
        top: 8px;
        transform-origin: left center;
    }
    #hamburger span:nth-child(3) {
        top: 16px;
        transform-origin: left center;
    }
    #hamburger span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #000;
        border-radius: 1px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    #hamburger.open span:first-child {
        transform: rotate(45deg);
        top: 0;
        left: 4px;
    }
    #hamburger.open span:nth-child(2) {
        width: 0;
        opacity: 0;
    }
    #hamburger.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 17px;
        left: 4px;
    }
    .menu-btn {
        z-index: 200;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 7px;
        top: 7px;
        position: absolute;
    }
    .nav{
        position: fixed;
        opacity: 0;
        visibility: hidden;
        &.vis{
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 72px;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 36px 26px;
            gap: 40px;
            z-index: 10000;
            opacity: 1;
            visibility: visible;
            align-items: flex-end;
            overflow-y: scroll;
            background: #fff url(../img/page_bg.png) left top/100% 600px no-repeat;
        }
    }   
    .lang {
        order: 1;
    }
    .username {
        order: 2;
    }
    .aside__nav {
        flex-direction: column;
        order: 3;
        align-items: stretch;
        .btn{
            &:last-child{
                margin: 30px 0 0;
            }
        }
    }
    .container {
        width: 100%;
        padding: 60px 20px 90px;
    }
    .title {
        text-align: center;
        font-family: "demi", sans-serif;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 50px;
    }
    .title_h2 {
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 30px;
        font-family: "regular", sans-serif;
    }














}
@media only screen and (max-width: 900px) {
    .post-wrap{
        padding: 0 80px;
    }
    .post-wrap{
        .post-next{
            right: -0px;
        }
        .post-prev{
            left: -0px;
        } 
    }
    .post__head_single{
        margin: 0 10px 16px;
        padding: 5px !important;
    }
}
@media only screen and (max-width: 768px) {
    .title_h2-action{
        flex-direction: column;
        align-items: flex-start;
    }
    .select2-title{
        text-align: left;
    }
    .select2-container, .daterange-input {
        width: auto !important;
        min-width: 260px;
    }
    .wrap{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        .btn{
            margin: 0 !important;
        }
    }
}
@media only screen and (max-width: 640px) {
    .container{
        width: 100%;
        padding: 32px 0 0;
    }
    .user__main{
        padding: 0 28px;
    }
    .user__about, .user__action{
        padding: 0 15px;
    }
    .user__nick {
        font-size: 16px;
        line-height: 20px;
    }
    .user__ava {
        min-width: 120px;
    }
    .user__follow-count {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 2px;
    }
    .user__follow-label {
        font-size: 16px;
        line-height: 20px;
    }
    .user__about{
        font-size: 16px;
        line-height: 22px;
    }
    .user__action {
        margin: 24px 0 32px;
    }
    .btn{
        height: 40px;
        padding: 0 12px;
    }
    .tab{
        padding: 0 15px;
        margin-bottom: 24px;
    }
    .btn_center{
        width: calc(100% - 30px);
    }
    
    .post__head {
        padding: 0 15px;
    }
    .container {
        padding: 40px 20px 90px;
    }
    .btn_min {
        height: 28px;
        padding: 0 16px;
        font-size: 14px;
    }















}    
@media only screen and (max-width: 480px) {
    .title_h2{
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    










}