
@font-face {
    font-family: 'bold';
    src: url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'demi';
    src: url('../fonts/AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'medium';
    src: url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'regular';
    src: url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import '_var';
@import '_help';
@import '_slick';
@import '_slick-theme';
@import '_video';
html{
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: $f400;
    color: $text-color;
    font-size: 18px;
    line-height: 22px;
}
.aside{
    position: fixed;
    width: 320px;
    top: 0;
    left: 0;
    bottom: 0;
    background: url(../img/side_bg.png) center bottom no-repeat, linear-gradient(24.96deg, #7321E8 25.46%, #EAAAFA 88.49%);
    border-radius: 0px 16px 16px 0px;
    padding: 40px;
}
.logo{
    display: block;
    width: 218px;
    height: 48px;
    background: url(../img/logo.svg) center center no-repeat;
}
.app-group {
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.app {
    width: 240px;
    height: 48px;
    border-radius: 16px;
    cursor: pointer;
    transition: $transition;
    display: block;
    &_play {
        background: url(../img/btn_app_white.png) center center no-repeat;
        margin-bottom: 8px;
    }
    &_app {
        background: url(../img/btn_pla_white.png) center center no-repeat;
    }
    &:hover{
        box-shadow: 0px 3px 9px 0px rgb(255, 255, 255);
    }
}
.login {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-family: $f450;
    cursor: pointer;
    margin: 200px 0 32px;
    &__icon{
        margin-right: 8px;
    }
}
hr{
    border: 0;
    border-bottom: 1px solid #fff;
    opacity: 0.5;
}
.main{
    padding: 40px 40px 40px 360px;
}
.container{
    width: 640px;
    margin: 0 auto;
    padding-top: 40px;
}
.page{
    background: url(../img/page_bg.png) left top / 100% no-repeat;
    min-height: calc(100vh - 80px);
}
.user {
    flex-direction: column;
    display: flex;
    align-items: center;
    &__nick {
        padding: 0px 16px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 60px;
        font-size: 18px;
        line-height: 22px;
        font-family: $f700;
        align-items: center;
        display: flex;
        margin-bottom: 24px;
    }
    &__main {
        display: flex;
        align-self: stretch;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    &__follow {
        width: 33.333%;
        display: flex;
        justify-content: flex-start;
        &_right{
            justify-content: flex-end;
        }
    }
    &__follow-count {
        font-size: 24px;
        line-height: 29px;
        font-family: $f750;
        margin-bottom: 8px;
    }
    &__follow-label{
        opacity: 0.6;
        font-family: $f450;
    }
    &__follow-inner {
        text-align: center;
        cursor: pointer;
    }
    &__ava {
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;

      &_online {
        position: relative;
        &:after{
            display: block;
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            border: 3px solid #fff;
            border-radius: 50%;
            bottom: -3px;
            right: -3px;
            background: #27D34C;
        }
      }
    }
    &__pic {
        border-radius: 32px;
    }
    &__name {
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 29px;
        font-family: $f700;
        margin-bottom: 16px;
    }
    &__verified {
        margin-left: 8px;
    }
    &__about {
        text-align: center;
        padding: 0 40px;
    }
    &__action {
        display: flex;
        
        margin: 40px 0;
        width: 100%;    
        padding: 0 40px;
        .btn{
            font-family: $f700;
            flex: 0 0 calc(50% - 4px);
            margin-right: 8px;
            &:last-child{
                margin: 0;
            }
        }
    }
}
.btn {
    background: linear-gradient(41.19deg, #7321E8 9.55%, #EAAAFA 95.15%);
    border-radius: 16px;
    height: 48px;
    font-size: 16px;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: $f450;
    cursor: pointer;
    transition: $transition;
    border: 0;
    padding: 0 40px;
    &:hover{
        background: linear-gradient(41.19deg, #7321E8 9.55%, #EAAAFA 95.15%);
        box-shadow: 0px 16px 32px rgba(115, 33, 232, 0.25);
    }
    &:active{
        background: linear-gradient(41.19deg, #571BAD 9.55%, #CF95DD 95.15%);
        color: #fff;
    }
    &:focus{
        color: #fff;
    }
    &:disabled{
        background: linear-gradient(41.19deg, rgba(115, 33, 232, 0.5) 9.55%, rgba(234, 170, 250, 0.5) 95.15%);
        box-shadow: none;
        cursor: not-allowed;
    }
    svg{
        width: 20px;
        height: 20px;
        fill: #fff;
        margin-right: 8px;
    }
    &_light {
        background: #F9E6FE;
        color: #7321E8;
        stroke: #7321E8 !important;
        &:hover{
            background: #F9E6FE;
            box-shadow: 0px 16px 32px rgba(183, 115, 237, 0.15);
        }
        &:active{
            background: rgba(212, 111, 237, 0.3);
            color: #7321E8;
        }
        &:focus{
            color: #7321E8;
        }
        &:disabled{
            background: rgba(147, 154, 174, 0.1);
            box-shadow: none;
            cursor: not-allowed;
            color: #939AAE;
            svg{
                stroke: #939AAE !important;
            }
        }
    }
    &_light-inactive {
        background: rgba(147, 154, 174, 0.1);
        color: #939AAE;
        &:hover{
            background: #F9E6FE;
            box-shadow: 0px 16px 32px rgba(183, 115, 237, 0.15);
            color: #7321E8;
        }
    }
    &_center{
        display: inline-flex;
        margin: 0 auto;
    }
}
.tab {
    display: flex;
    width: 100%;    
    padding: 0 40px;
    margin-bottom: 40px;
    .btn{
        flex: 0 0 calc(25% - 6px);
        margin-right: 8px;
        &:last-child{
            margin: 0;
        }
    }
}
.post {
    margin-bottom: 56px;
    position: relative;
    &__pic {
        border-radius: 16px;
    }
    &__action {
        margin: 18px 0;
        display: flex;
        justify-content: space-between;
    }
    &__action-group {
        display: flex;
        align-items: center;
    }
    &__btn {
        display: flex;
        align-items: center;
        margin-left: 18px;
        font-size: 16px;
        line-height: 20px;
        font-family: $f450;
        cursor: pointer;
        &:first-child{
            margin-left: 0;
        }
        svg{
            width: 24px;
            height: 24px;
            fill: #939AAE;
            transition: $transition;
        }
        span{
            padding-left: 6px;
        }
        &:hover{
            svg{
                fill: #7321E8;
            }
        }
        &_co{
            svg{
                width: 20px;
                height: 20px;
            }
        }
    }
    &__text {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 16px;
    }
    &__all {
        font-size: 16px;
        line-height: 20px;
        color: #939AAE !important;
        transition: $transition;
        font-family: $f450;
        display: inline-block;
        &:hover{
            color: $text-color !important;
        }
    }
}
.modal-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(25, 31, 50, 0.8);
    transition: $transition1;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 17px;
    z-index: 1000;
    &.vis{
        opacity: 1;
        visibility: visible;
    }
}
.modal {
    width: 640px;
    background: #fff url(../img/modal_bg.png) center top no-repeat;
    top: 50%;
    left: calc(50% - 17px);
    transform: translate(-50%,-50%);
    border-radius: 16px; 
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
    &.vis{
        opacity: 1;
        visibility: visible;
    }
    &_btn {
        width: calc(50% - 8px);
        height: 48px;
        transition: $transition;
        border-radius: 16px;
        &:hover{
            box-shadow: 0px 3px 9px 0px #e2b6ff;
        }
    }
    &_btn-app {
        background: url(../img/btn_app.png) center center no-repeat;
    }
    &_btn-pla {
        background: url(../img/btn_pla.png) center center no-repeat;
    }
    &__body {
        padding: 56px 72px;
    }
    &__logo {
        display: block;
        background: url(../img/logo_color.png) center center no-repeat;
        width: 218px;
        height: 48px;
        margin: 0 auto 32px;
    }
    &__desc {
        font-family: $f450;
        font-size: 18px;
        line-height: 26px;
        width: 300px;
        margin-bottom: 32px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 32px;  
        &_min{
            display: none;
        }  
    }
    &__action {
        display: flex;
        gap: 16px;
    }
    &__close {
        width: 48px;
        height: 48px;
        background: #fff url(../img/close.svg) center center no-repeat;
        border-radius: 16px;
        position: absolute;
        top: 24px;
        right: 24px;
        cursor: pointer;
    }
}
.btn_head{
    display: none;
}
.post {
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        &_single{
            background: #fff;
            padding: 5px;
            border-radius: 12px;
        }
    }
    &__head-title {
        display: flex;
    }
    &__head-ava {
        width: 40px;
        height: 40px;
        margin-right: 16px;
        position: relative;
        &_online{
            &:after {
                display: block;
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                border: 2px solid #fff;
                border-radius: 50%;
                bottom: -3px;
                right: -3px;
                background: #27D34C;
            }
        }
    }
    &__head-pic {
        border-radius: 12px;
    }
    &__head-nick {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        font-family: $f700;
        margin-bottom: 4px;
    }
    &__head-verified {
        width: 16px;
        height: 16px;
        margin-left: 8px;
    }
    &__head-date {
        font-size: 12px;
        line-height: 15px;
        color: #939AAE;
    }
    &__head-action {
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            width: 20px;
            height: 4px;
            fill: #939AAE;
            transition: $transition;
        }
        &:hover svg {
            fill: #7321E8;
        }
        &:active, &:focus{
            svg{
                fill: #939AAE;
            }
        }
    }
 }
.post__more{
    display: none;
}
.slick-prev, .slick-next{
    padding: 0;
    border: 0;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: rgba(245, 245, 247, 0.2);
    backdrop-filter: blur(1px);
    border-radius: 12px;
    transition: $transition;
    svg{
        width: 24px;
        height: 24px;
        transition: $transition;
        fill: #fff;
    }
    
    &:before, &:after{
        display: none;
    }
    &:hover{
        background: rgba(245, 245, 247, 0.5);
        svg{
            
        }
    }
}
.slick-next{
    right: 16px;
    svg{
        transform: rotate(180deg);
    }
    &:hover{
        svg{
            transform: rotate(180deg) translateX(-3px);
        }
    }
}
.slick-prev{
    left: 16px;
    &:hover{
        svg{
            transform: translateX(-3px);
        }
    }
}
.slick-list{
    border-radius: 16px;
}
.slick-dots {
    bottom: 16px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    border-radius: 8px;
}
.slick-dots li button{
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}
.slick-dots li button::before{
    display: none;
}
.slick-dots{
    width: auto;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    padding: 0 4px;
    li{
        width: 4px;
        height: 4px;
        padding: 0;
        margin: 0 4px;
        button{
            width: 4px;
            height: 4px;
            padding: 0;
        }
        &.slick-active{
            width: 8px;
            height: 8px;
            button{
                width: 8px;
                height: 8px;
                background: rgba(255, 255, 255, 1);
            }
        }
    }
}
// video {
//     width: 100%;
//     max-height: 400px;
//     margin: 0 auto;
//     display: block;
//     border-radius: 16px;
//     overflow: hidden;
// }
.post__video{
    border-radius: 16px;
    overflow: hidden;
}
.post__audio{
    width: 100%;
    //padding-top: 100%;
    position: relative;
    //background: url(../img/microphone.png) center center no-repeat, linear-gradient(41.19deg, #7321E8 9.55%, #EAAAFA 95.15%), #D9D9D9;
    border-radius: 16px;
    overflow: hidden;
    // audio{
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     width: 100%;
    // }
    // svg{
    //     fill: #fff;
    //     width: 48px;
    //     height: 48px;
    //     display: none;
    // }
    .pauseplay{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%, -50%);
        width: 48px;
        height: 48px;
        .pause, .play{
            position: absolute;
        }
        .pause{
            opacity: 0;
            visibility: hidden;
        }
        &.pause{
            .pause{
                opacity: 1;
                visibility: visible;
            }
            .play{
                opacity: 0;
                visibility: hidden;
            }
        }
    }
    .video-js {
        padding-top: 100%;
        background:transparent;
        .vjs-control-bar{
            display: block;
        }
        .vjs-remaining-time{
            display: flex;
            position: absolute;
            bottom: 7px;
            right: 24px;
            padding: 0;
            width: 180px;
            height: 30px;
            font-size: 12px;
            align-items: flex-end;
            justify-content: flex-end;
            line-height: 12px;
            padding: 16px 8px 8px;
            .vjs-control-text{
                width: auto;
                overflow: visible;
                clip: auto;
                position: static;
                height: 12px;
                font-family: $f450;
                display: none;
                & + span{
                    padding: 0 5px;
                    height: 12px;
                    font-family: $f450;
                    display: none;
                }
            }
            .vjs-remaining-time-display{
                height: 12px;
                font-family: $f450;
            }
        }
        .vjs-current-time{
            display: flex;
            position: absolute;
            bottom: 7px;
            left: 24px;
            padding: 0;
            width: 80px;
            height: 80px;
            align-items: flex-end;
            padding: 16px 8px 8px;
            .vjs-current-time-display{
                font-size: 12px;
                height: 12px;
                line-height: 12px;
                font-family: $f450;
            }
        }
        .vjs-volume-panel{
            display: none;
        }
        .vjs-progress-control {
            width: auto;
            height: auto;
            position: absolute;
            bottom: 7px;
            left: 24px;
            right: 24px;
            height: 50px;
            background: rgba(25, 31, 50, 0.2);
            border-radius: 16px;
            align-items: flex-start;
            padding-top: 16px;
            
        }
        .vjs-progress-control .vjs-progress-holder {
            margin: 0 8px !important;
        }
    }
}
.post-wrap{
    position: relative;
    .post-prev, .post-next{
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        background: #F5F5F7;
        border-radius: 16px;
        transition: $transition;
        transform: translate(0, -50%);
        position: absolute;
        top: 50%;
        cursor: pointer;
        left: -132px;
        svg{
            fill: #939AAE;
            width: 24px;
            height: 24px;
            transition: $transition;
        }
        &:hover{
            background: #e3e3e3;
            svg{
                transform: translateX(-3px);
            }
        }
    }
    .post-next{
        left: auto;
        right: -132px;
        svg{
            transform: rotate(180deg);
        }
        &:hover{
            svg{
                transform: rotate(180deg) translateX(-3px);
            }
        }
    }
}
.video-js{
    padding-top: 130%;
    max-width: 100%;
    width: 100%;
    height: 0;
    .vjs-poster{
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }

    .vjs-big-play-button{
        width: 80px;
        height: 80px;
        margin-top: -40px;
        margin-left: -40px;
        border-radius: 50%;
        border: 1px solid #797979;
        background: rgba(197, 142, 248, 0.7) url(../img/play.svg) 26px center no-repeat !important;
        &:focus{
            border-color: #ddd;
            transition: $transition;
        }
        span{
            display: none;
        }
    }
    &:hover{
        .vjs-big-play-button{
            border-color: #ddd;
            transition: $transition;
            
        }
    }
    .vjs-control-bar{
        height: 100%;
        background: transparent;
    }
    .vjs-time-control, .vjs-fullscreen-control{
        display: none;
    }
    &.vjs-has-started{
        .vjs-control-bar{
            display: block;
            
        }
    } 
    .vjs-progress-control{
        width: auto;
        position: absolute;
        bottom: 5px;
        left: 5px;
        right: 85px;
        height: 80px;
        .vjs-progress-holder{
            background: #fff;
            margin-right: 0 !important;
        }
        .vjs-load-progress {
            background: rgb(255, 0, 0);
        }
        
    }
    .vjs-load-progress div, .vjs-play-progress {
        background: #c681f5;
    }
    
    .vjs-volume-panel{
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 80px;
        height: 80px;
        transition: none;
        .vjs-volume-control{
            display: none;
            opacity: 0 !important;
            visibility: hidden !important;
            position: absolute !important;
        }
        .vjs-mute-control{
            width: 80px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            .vjs-icon-placeholder{
                width: 40px;
                height: 40px;
                display: block;
                position: relative;
                &::before{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: 50%;
                    top: 50%;
                    margin-left: -10px;
                    margin-top: -16px;
                }
            }
        }
        &.vjs-volume-panel-horizontal.vjs-hover{
            width: 80px !important;
            .vjs-mute-control{
                width: 80px !important;
            }
        }
    }
    .vjs-play-control{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        &.vjs-playing{
            opacity: 0;
        }
        .vjs-control-text{
            display: none;
        }
        .vjs-icon-placeholder{
            width: 80px;
            height: 80px;
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -40px;
            margin-top: -40px;
            border-radius: 50%;
            border: 1px solid #797979;
            background: rgba(197, 142, 248, 0.7) url(../img/play.svg) 26px center no-repeat !important;
            &::before{
                display: none;
            }
            
        }
        &:hover{
            .vjs-icon-placeholder{
                border-color: #ddd;
                transition: $transition;
            }
        }
    }
}
.vjs-tech{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.window {
    background: #F5F5F7;
    border-radius: 32px;
    padding: 32px;
    text-align: center;
    width: 300px;
    margin: 40px auto 0;
    &-title {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
        font-family: $f700;
    }
    &-desc {
        width: 240px;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
    }
    .btn{
        margin-top: 24px;
    }
    &-icon{
        width: 40px;
        margin: 0 auto 20px;
    }
}






































@import '_query';