@font-face {
  font-family: "bold";
  src: url("../fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "demi";
  src: url("../fonts/AvenirNextCyr-Demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "medium";
  src: url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "regular";
  src: url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.oh {
  overflow: hidden;
}

body.oh {
  padding-right: 17px;
}

.ac {
  text-align: center;
}

.df {
  display: flex;
}

.dfc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m0a {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus,
button,
button:active,
button:focus,
label,
label:active,
label:focus {
  outline: none !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
  text-decoration: none !important;
  color: #191F32;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

input,
select,
textarea {
  font-family: "regular", sans-serif;
}

p {
  margin: 0 0 16px;
}

img {
  line-height: 100%;
  max-width: 100%;
  display: block;
}

a,
a *,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease-in-out;
  color: #191F32;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  display: block;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  display: block;
  margin: 16px 0;
  padding: 0;
}

b, strong {
  font-family: "demi", sans-serif;
}

i {
  font-style: italic;
}

table {
  border: 1px solid #191F32;
  border-collapse: collapse;
  margin: 12px 0 12px;
  width: 100%;
}

table th {
  font-weight: bold;
}

table th, table td {
  border: 1px solid #191F32;
  padding: 8px;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "regular", sans-serif;
  color: #191F32;
  font-size: 18px;
  line-height: 22px;
}

.aside {
  position: fixed;
  width: 320px;
  top: 0;
  left: 0;
  bottom: 0;
  background: url(../img/side_bg.png) center bottom no-repeat, linear-gradient(24.96deg, #7321E8 25.46%, #EAAAFA 88.49%);
  border-radius: 0px 16px 16px 0px;
  padding: 40px;
}

.logo {
  display: block;
  width: 218px;
  height: 48px;
  background: url(../img/logo.svg) center center no-repeat;
}

.app-group {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.app {
  width: 240px;
  height: 48px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: block;
}
.app_play {
  background: url(../img/btn_app_white.png) center center no-repeat;
  margin-bottom: 8px;
}
.app_app {
  background: url(../img/btn_pla_white.png) center center no-repeat;
}
.app:hover {
  box-shadow: 0px 3px 9px 0px rgb(255, 255, 255);
}

.login {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-family: "medium", sans-serif;
  cursor: pointer;
  margin: 200px 0 32px;
}
.login__icon {
  margin-right: 8px;
}

hr {
  border: 0;
  border-bottom: 1px solid #fff;
  opacity: 0.5;
}

.main {
  padding: 40px 40px 40px 360px;
}

.container {
  width: 640px;
  margin: 0 auto;
  padding-top: 40px;
}

.page {
  background: url(../img/page_bg.png) left top/100% no-repeat;
  min-height: calc(100vh - 80px);
}

.user {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.user__nick {
  padding: 0px 16px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 60px;
  font-size: 18px;
  line-height: 22px;
  font-family: "demi", sans-serif;
  align-items: center;
  display: flex;
  margin-bottom: 24px;
}
.user__main {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.user__follow {
  width: 33.333%;
  display: flex;
  justify-content: flex-start;
}
.user__follow_right {
  justify-content: flex-end;
}
.user__follow-count {
  font-size: 24px;
  line-height: 29px;
  font-family: "bold", sans-serif;
  margin-bottom: 8px;
}
.user__follow-label {
  opacity: 0.6;
  font-family: "medium", sans-serif;
}
.user__follow-inner {
  text-align: center;
  cursor: pointer;
}
.user__ava {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
}
.user__ava_online {
  position: relative;
}
.user__ava_online:after {
  display: block;
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid #fff;
  border-radius: 50%;
  bottom: -3px;
  right: -3px;
  background: #27D34C;
}
.user__pic {
  border-radius: 32px;
}
.user__name {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 29px;
  font-family: "demi", sans-serif;
  margin-bottom: 16px;
}
.user__verified {
  margin-left: 8px;
}
.user__about {
  text-align: center;
  padding: 0 40px;
}
.user__action {
  display: flex;
  margin: 40px 0;
  width: 100%;
  padding: 0 40px;
}
.user__action .btn {
  font-family: "demi", sans-serif;
  flex: 0 0 calc(50% - 4px);
  margin-right: 8px;
}
.user__action .btn:last-child {
  margin: 0;
}

.btn {
  background: linear-gradient(41.19deg, #7321E8 9.55%, #EAAAFA 95.15%);
  border-radius: 16px;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "medium", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 0;
  padding: 0 40px;
}
.btn:hover {
  background: linear-gradient(41.19deg, #7321E8 9.55%, #EAAAFA 95.15%);
  box-shadow: 0px 16px 32px rgba(115, 33, 232, 0.25);
}
.btn:active {
  background: linear-gradient(41.19deg, #571BAD 9.55%, #CF95DD 95.15%);
  color: #fff;
}
.btn:focus {
  color: #fff;
}
.btn:disabled {
  background: linear-gradient(41.19deg, rgba(115, 33, 232, 0.5) 9.55%, rgba(234, 170, 250, 0.5) 95.15%);
  box-shadow: none;
  cursor: not-allowed;
}
.btn svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-right: 8px;
}
.btn_light {
  background: #F9E6FE;
  color: #7321E8;
  stroke: #7321E8 !important;
}
.btn_light:hover {
  background: #F9E6FE;
  box-shadow: 0px 16px 32px rgba(183, 115, 237, 0.15);
}
.btn_light:active {
  background: rgba(212, 111, 237, 0.3);
  color: #7321E8;
}
.btn_light:focus {
  color: #7321E8;
}
.btn_light:disabled {
  background: rgba(147, 154, 174, 0.1);
  box-shadow: none;
  cursor: not-allowed;
  color: #939AAE;
}
.btn_light:disabled svg {
  stroke: #939AAE !important;
}
.btn_light-inactive {
  background: rgba(147, 154, 174, 0.1);
  color: #939AAE;
}
.btn_light-inactive:hover {
  background: #F9E6FE;
  box-shadow: 0px 16px 32px rgba(183, 115, 237, 0.15);
  color: #7321E8;
}
.btn_center {
  display: inline-flex;
  margin: 0 auto;
}

.tab {
  display: flex;
  width: 100%;
  padding: 0 40px;
  margin-bottom: 40px;
}
.tab .btn {
  flex: 0 0 calc(25% - 6px);
  margin-right: 8px;
}
.tab .btn:last-child {
  margin: 0;
}

.post {
  margin-bottom: 56px;
  position: relative;
}
.post__pic {
  border-radius: 16px;
}
.post__action {
  margin: 18px 0;
  display: flex;
  justify-content: space-between;
}
.post__action-group {
  display: flex;
  align-items: center;
}
.post__btn {
  display: flex;
  align-items: center;
  margin-left: 18px;
  font-size: 16px;
  line-height: 20px;
  font-family: "medium", sans-serif;
  cursor: pointer;
}
.post__btn:first-child {
  margin-left: 0;
}
.post__btn svg {
  width: 24px;
  height: 24px;
  fill: #939AAE;
  transition: all 0.2s ease-in-out;
}
.post__btn span {
  padding-left: 6px;
}
.post__btn:hover svg {
  fill: #7321E8;
}
.post__btn_co svg {
  width: 20px;
  height: 20px;
}
.post__text {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
}
.post__all {
  font-size: 16px;
  line-height: 20px;
  color: #939AAE !important;
  transition: all 0.2s ease-in-out;
  font-family: "medium", sans-serif;
  display: inline-block;
}
.post__all:hover {
  color: #191F32 !important;
}

.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(25, 31, 50, 0.8);
  transition: all 1s ease-in-out;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 17px;
  z-index: 1000;
}
.modal-bg.vis {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 640px;
  background: #fff url(../img/modal_bg.png) center top no-repeat;
  top: 50%;
  left: calc(50% - 17px);
  transform: translate(-50%, -50%);
  border-radius: 16px;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
}
.modal.vis {
  opacity: 1;
  visibility: visible;
}
.modal_btn {
  width: calc(50% - 8px);
  height: 48px;
  transition: all 0.2s ease-in-out;
  border-radius: 16px;
}
.modal_btn:hover {
  box-shadow: 0px 3px 9px 0px #e2b6ff;
}
.modal_btn-app {
  background: url(../img/btn_app.png) center center no-repeat;
}
.modal_btn-pla {
  background: url(../img/btn_pla.png) center center no-repeat;
}
.modal__body {
  padding: 56px 72px;
}
.modal__logo {
  display: block;
  background: url(../img/logo_color.png) center center no-repeat;
  width: 218px;
  height: 48px;
  margin: 0 auto 32px;
}
.modal__desc {
  font-family: "medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  width: 300px;
  margin-bottom: 32px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
}
.modal__desc_min {
  display: none;
}
.modal__action {
  display: flex;
  gap: 16px;
}
.modal__close {
  width: 48px;
  height: 48px;
  background: #fff url(../img/close.svg) center center no-repeat;
  border-radius: 16px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.btn_head {
  display: none;
}

.post__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.post__head_single {
  background: #fff;
  padding: 5px;
  border-radius: 12px;
}
.post__head-title {
  display: flex;
}
.post__head-ava {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  position: relative;
}
.post__head-ava_online:after {
  display: block;
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  bottom: -3px;
  right: -3px;
  background: #27D34C;
}
.post__head-pic {
  border-radius: 12px;
}
.post__head-nick {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  font-family: "demi", sans-serif;
  margin-bottom: 4px;
}
.post__head-verified {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}
.post__head-date {
  font-size: 12px;
  line-height: 15px;
  color: #939AAE;
}
.post__head-action {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post__head-action svg {
  width: 20px;
  height: 4px;
  fill: #939AAE;
  transition: all 0.2s ease-in-out;
}
.post__head-action:hover svg {
  fill: #7321E8;
}
.post__head-action:active svg, .post__head-action:focus svg {
  fill: #939AAE;
}

.post__more {
  display: none;
}

.slick-prev, .slick-next {
  padding: 0;
  border: 0;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: rgba(245, 245, 247, 0.2);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}
.slick-prev svg, .slick-next svg {
  width: 24px;
  height: 24px;
  transition: all 0.2s ease-in-out;
  fill: #fff;
}
.slick-prev:before, .slick-prev:after, .slick-next:before, .slick-next:after {
  display: none;
}
.slick-prev:hover, .slick-next:hover {
  background: rgba(245, 245, 247, 0.5);
}
.slick-next {
  right: 16px;
}
.slick-next svg {
  transform: rotate(180deg);
}
.slick-next:hover svg {
  transform: rotate(180deg) translateX(-3px);
}

.slick-prev {
  left: 16px;
}
.slick-prev:hover svg {
  transform: translateX(-3px);
}

.slick-list {
  border-radius: 16px;
}

.slick-dots {
  bottom: 16px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 8px;
}

.slick-dots li button {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.slick-dots li button::before {
  display: none;
}

.slick-dots {
  width: auto;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 0 4px;
}
.slick-dots li {
  width: 4px;
  height: 4px;
  padding: 0;
  margin: 0 4px;
}
.slick-dots li button {
  width: 4px;
  height: 4px;
  padding: 0;
}
.slick-dots li.slick-active {
  width: 8px;
  height: 8px;
}
.slick-dots li.slick-active button {
  width: 8px;
  height: 8px;
  background: rgb(255, 255, 255);
}

.post__video {
  border-radius: 16px;
  overflow: hidden;
}

.post__audio {
  width: 100%;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
.post__audio .pauseplay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
}
.post__audio .pauseplay .pause, .post__audio .pauseplay .play {
  position: absolute;
}
.post__audio .pauseplay .pause {
  opacity: 0;
  visibility: hidden;
}
.post__audio .pauseplay.pause .pause {
  opacity: 1;
  visibility: visible;
}
.post__audio .pauseplay.pause .play {
  opacity: 0;
  visibility: hidden;
}
.post__audio .video-js {
  padding-top: 100%;
  background: transparent;
}
.post__audio .video-js .vjs-control-bar {
  display: block;
}
.post__audio .video-js .vjs-remaining-time {
  display: flex;
  position: absolute;
  bottom: 7px;
  right: 24px;
  padding: 0;
  width: 180px;
  height: 30px;
  font-size: 12px;
  align-items: flex-end;
  justify-content: flex-end;
  line-height: 12px;
  padding: 16px 8px 8px;
}
.post__audio .video-js .vjs-remaining-time .vjs-control-text {
  width: auto;
  overflow: visible;
  clip: auto;
  position: static;
  height: 12px;
  font-family: "medium", sans-serif;
  display: none;
}
.post__audio .video-js .vjs-remaining-time .vjs-control-text + span {
  padding: 0 5px;
  height: 12px;
  font-family: "medium", sans-serif;
  display: none;
}
.post__audio .video-js .vjs-remaining-time .vjs-remaining-time-display {
  height: 12px;
  font-family: "medium", sans-serif;
}
.post__audio .video-js .vjs-current-time {
  display: flex;
  position: absolute;
  bottom: 7px;
  left: 24px;
  padding: 0;
  width: 80px;
  height: 80px;
  align-items: flex-end;
  padding: 16px 8px 8px;
}
.post__audio .video-js .vjs-current-time .vjs-current-time-display {
  font-size: 12px;
  height: 12px;
  line-height: 12px;
  font-family: "medium", sans-serif;
}
.post__audio .video-js .vjs-volume-panel {
  display: none;
}
.post__audio .video-js .vjs-progress-control {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 7px;
  left: 24px;
  right: 24px;
  height: 50px;
  background: rgba(25, 31, 50, 0.2);
  border-radius: 16px;
  align-items: flex-start;
  padding-top: 16px;
}
.post__audio .video-js .vjs-progress-control .vjs-progress-holder {
  margin: 0 8px !important;
}

.post-wrap {
  position: relative;
}
.post-wrap .post-prev, .post-wrap .post-next {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: #F5F5F7;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  cursor: pointer;
  left: -132px;
}
.post-wrap .post-prev svg, .post-wrap .post-next svg {
  fill: #939AAE;
  width: 24px;
  height: 24px;
  transition: all 0.2s ease-in-out;
}
.post-wrap .post-prev:hover, .post-wrap .post-next:hover {
  background: #e3e3e3;
}
.post-wrap .post-prev:hover svg, .post-wrap .post-next:hover svg {
  transform: translateX(-3px);
}
.post-wrap .post-next {
  left: auto;
  right: -132px;
}
.post-wrap .post-next svg {
  transform: rotate(180deg);
}
.post-wrap .post-next:hover svg {
  transform: rotate(180deg) translateX(-3px);
}

.video-js {
  padding-top: 130%;
  max-width: 100%;
  width: 100%;
  height: 0;
}
.video-js .vjs-poster {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.video-js .vjs-big-play-button {
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
  border-radius: 50%;
  border: 1px solid #797979;
  background: rgba(197, 142, 248, 0.7) url(../img/play.svg) 26px center no-repeat !important;
}
.video-js .vjs-big-play-button:focus {
  border-color: #ddd;
  transition: all 0.2s ease-in-out;
}
.video-js .vjs-big-play-button span {
  display: none;
}
.video-js:hover .vjs-big-play-button {
  border-color: #ddd;
  transition: all 0.2s ease-in-out;
}
.video-js .vjs-control-bar {
  height: 100%;
  background: transparent;
}
.video-js .vjs-time-control, .video-js .vjs-fullscreen-control {
  display: none;
}
.video-js.vjs-has-started .vjs-control-bar {
  display: block;
}
.video-js .vjs-progress-control {
  width: auto;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 85px;
  height: 80px;
}
.video-js .vjs-progress-control .vjs-progress-holder {
  background: #fff;
  margin-right: 0 !important;
}
.video-js .vjs-progress-control .vjs-load-progress {
  background: rgb(255, 0, 0);
}
.video-js .vjs-load-progress div, .video-js .vjs-play-progress {
  background: #c681f5;
}
.video-js .vjs-volume-panel {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 80px;
  height: 80px;
  transition: none;
}
.video-js .vjs-volume-panel .vjs-volume-control {
  display: none;
  opacity: 0 !important;
  visibility: hidden !important;
  position: absolute !important;
}
.video-js .vjs-volume-panel .vjs-mute-control {
  width: 80px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-js .vjs-volume-panel .vjs-mute-control .vjs-icon-placeholder {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
}
.video-js .vjs-volume-panel .vjs-mute-control .vjs-icon-placeholder::before {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -16px;
}
.video-js .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-hover {
  width: 80px !important;
}
.video-js .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-hover .vjs-mute-control {
  width: 80px !important;
}
.video-js .vjs-play-control {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.video-js .vjs-play-control.vjs-playing {
  opacity: 0;
}
.video-js .vjs-play-control .vjs-control-text {
  display: none;
}
.video-js .vjs-play-control .vjs-icon-placeholder {
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  border-radius: 50%;
  border: 1px solid #797979;
  background: rgba(197, 142, 248, 0.7) url(../img/play.svg) 26px center no-repeat !important;
}
.video-js .vjs-play-control .vjs-icon-placeholder::before {
  display: none;
}
.video-js .vjs-play-control:hover .vjs-icon-placeholder {
  border-color: #ddd;
  transition: all 0.2s ease-in-out;
}

.vjs-tech {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.window {
  background: #F5F5F7;
  border-radius: 32px;
  padding: 32px;
  text-align: center;
  width: 300px;
  margin: 40px auto 0;
}
.window-title {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  font-family: "demi", sans-serif;
}
.window-desc {
  width: 240px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
.window .btn {
  margin-top: 24px;
}
.window-icon {
  width: 40px;
  margin: 0 auto 20px;
}

@media only screen and (max-width: 1300px) {
  .post-wrap .post-next {
    right: -60px;
  }
  .post-wrap .post-prev {
    left: -60px;
  }
}
@media only screen and (max-width: 1100px) {
  .aside {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 0px;
    padding: 16px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
  }
  .logo {
    display: block;
    width: 102px;
    height: 16px;
    background: url(../img/logo_min.png) center center no-repeat;
  }
  .login, .app-group, hr {
    display: none;
  }
  .main {
    padding: 72px 0;
  }
  .btn.btn_head {
    display: flex;
    height: 40px;
    padding: 0 24px;
    font-family: "medium", sans-serif;
    font-size: 18px;
    line-height: 22px;
  }
  .page {
    border-radius: 16px 16px 0px 0px;
  }
  .post {
    margin-bottom: 40px;
  }
  .post__pic, .slick-list, .post__video, .post__audio {
    border-radius: 0;
  }
  .post__action {
    margin: 26px 0 18px;
    padding: 0 15px;
  }
  .post__text {
    padding: 0 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    position: relative;
  }
  .post__text.full {
    -webkit-line-clamp: initial;
  }
  .post__all {
    padding: 0 15px;
  }
  .post__more {
    display: block;
    position: absolute;
    right: 15px;
    bottom: 1px;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #939AAE;
    font-family: "medium", sans-serif;
    cursor: pointer;
    padding-left: 15px;
    background: #fff;
    transition: all 0.2s ease-in-out;
  }
  .post__more::before {
    display: block;
    content: "";
    width: 40px;
    height: 20px;
    left: -40px;
    top: 0;
    position: absolute; /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgb(255, 255, 255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#001e5799", endColorstr="#ffffff",GradientType=1 ); /* IE6-9 */
  }
  .post__more:hover {
    text-decoration-line: none;
    color: #191F32;
  }
  body.oh {
    padding-right: 0;
  }
  .modal {
    z-index: 1000;
    left: 50%;
    width: 340px;
  }
  .modal-bg.vis {
    z-index: 1000;
  }
  .modal__body {
    padding: 50px;
  }
  .modal__close {
    top: 16px;
    right: 16px;
  }
  .modal__logo {
    background: url(../img/logo_min_modal.png) center center no-repeat;
    width: 154px;
    height: 24px;
    margin: 0 auto 24px;
  }
  .modal__desc {
    display: none;
  }
  .modal__desc_min {
    display: block;
    width: auto;
    margin-bottom: 24px;
  }
  .modal__action {
    flex-direction: column;
    gap: 16px;
  }
  .modal_btn {
    width: 240px;
  }
  .post-wrap .post-next {
    right: -100px;
  }
  .post-wrap .post-prev {
    left: -100px;
  }
}
@media only screen and (max-width: 900px) {
  .post-wrap {
    padding: 0 80px;
  }
  .post-wrap .post-next {
    right: 0px;
  }
  .post-wrap .post-prev {
    left: 0px;
  }
  .post__head_single {
    margin: 0 10px 16px;
    padding: 5px !important;
  }
}
@media only screen and (max-width: 640px) {
  .container {
    width: 100%;
    padding: 32px 0 0;
  }
  .user__main {
    padding: 0 28px;
  }
  .user__about, .user__action {
    padding: 0 15px;
  }
  .user__nick {
    font-size: 16px;
    line-height: 20px;
  }
  .page {
    background: url(../img/page_bg_min.png) left top/100% no-repeat;
  }
  .user__ava {
    min-width: 120px;
  }
  .user__follow-count {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 2px;
  }
  .user__follow-label {
    font-size: 16px;
    line-height: 20px;
  }
  .user__about {
    font-size: 16px;
    line-height: 22px;
  }
  .user__action {
    margin: 24px 0 32px;
  }
  .btn {
    height: 40px;
    padding: 0 12px;
  }
  .tab {
    padding: 0 15px;
    margin-bottom: 24px;
  }
  .btn_center {
    width: calc(100% - 30px);
  }
  .post__head {
    padding: 0 15px;
  }
}/*# sourceMappingURL=main.css.map */