@font-face {
  font-family: "bold";
  src: url("../fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "demi";
  src: url("../fonts/AvenirNextCyr-Demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "medium";
  src: url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "regular";
  src: url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.oh {
  overflow: hidden;
}

body.oh {
  padding-right: 17px;
}

.ac {
  text-align: center;
}

.df {
  display: flex;
}

.dfc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m0a {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus,
button,
button:active,
button:focus,
label,
label:active,
label:focus {
  outline: none !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
  text-decoration: none !important;
  color: #191F32;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

input,
select,
textarea {
  font-family: "regular", sans-serif;
}

p {
  margin: 0 0 16px;
}

img {
  line-height: 100%;
  max-width: 100%;
  display: block;
}

a,
a *,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease-in-out;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  display: block;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  display: block;
  margin: 16px 0;
  padding: 0;
}

b, strong {
  font-family: "demi", sans-serif;
}

i {
  font-style: italic;
}

table {
  border: 1px solid #191F32;
  border-collapse: collapse;
  margin: 12px 0 12px;
  width: 100%;
}

table th {
  font-weight: bold;
}

table th, table td {
  border: 1px solid #959191;
  padding: 8px;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "regular", sans-serif;
  color: #191F32;
  font-size: 18px;
  line-height: 22px;
}
body.body_login {
  background: url(../img/page_bg.png) left top/100% no-repeat;
  background-attachment: fixed;
}
body.body_login .main {
  padding: 0;
}
body.body_login .page {
  padding: 0;
  background: none;
}
body.body_login .container {
  width: 400px;
  padding-bottom: 50px;
}

.aside {
  position: fixed;
  width: 320px;
  top: 0;
  left: 0;
  bottom: 0;
  background: url(../img/side_bg.png) center bottom no-repeat, linear-gradient(24.96deg, #7321E8 25.46%, #EAAAFA 88.49%);
  border-radius: 0px 16px 16px 0px;
  padding: 40px;
}
.aside__nav {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 16px;
}
.aside__nav .btn {
  border: 1px solid #EAAAFA;
}
.aside__nav .btn:hover {
  box-shadow: 0px 16px 32px rgba(54, 16, 106, 0.5);
  border: 1px solid #fff;
}
.aside__nav .btn.act {
  border: 0;
  cursor: default;
  pointer-events: none;
}
.aside__nav .btn.act:hover {
  box-shadow: none;
  border: 0;
}

.logo {
  display: block;
  width: 218px;
  height: 48px;
  background: url(../img/logo.svg) center center no-repeat;
}

.main {
  padding: 40px 40px 40px 360px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 140px 0 240px;
}

.page {
  background: url(../img/page_bg.png) left top/100% no-repeat;
  min-height: calc(100vh - 80px);
}

.btn {
  background: linear-gradient(41.19deg, #7321E8 9.55%, #EAAAFA 95.15%);
  border-radius: 16px;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "medium", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 0;
  padding: 0 40px;
}
.btn:hover {
  background: linear-gradient(41.19deg, #7321E8 9.55%, #EAAAFA 95.15%);
  box-shadow: 0px 16px 32px rgba(115, 33, 232, 0.25);
}
.btn:active {
  background: linear-gradient(41.19deg, #571BAD 9.55%, #CF95DD 95.15%);
  color: #fff;
}
.btn:focus {
  color: #fff;
}
.btn:disabled {
  background: linear-gradient(41.19deg, rgba(115, 33, 232, 0.5) 9.55%, rgba(234, 170, 250, 0.5) 95.15%);
  box-shadow: none;
  cursor: not-allowed;
}
.btn svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-right: 8px;
}
.btn_light {
  background: #F9E6FE;
  color: #7321E8;
  stroke: #7321E8 !important;
}
.btn_light:hover {
  background: #F9E6FE;
  box-shadow: 0px 16px 32px rgba(183, 115, 237, 0.15);
}
.btn_light:active {
  background: rgba(212, 111, 237, 0.3);
  color: #7321E8;
}
.btn_light:focus {
  color: #7321E8;
}
.btn_light:disabled {
  background: rgba(147, 154, 174, 0.1);
  box-shadow: none;
  cursor: not-allowed;
  color: #939AAE;
}
.btn_light:disabled svg {
  stroke: #939AAE !important;
}
.btn_light-inactive {
  background: rgba(147, 154, 174, 0.1);
  color: #939AAE;
}
.btn_light-inactive:hover {
  background: #F9E6FE;
  box-shadow: 0px 16px 32px rgba(183, 115, 237, 0.15);
  color: #7321E8;
}
.btn_center {
  display: inline-flex;
  margin: 0 auto;
}
.btn_min {
  height: 28px;
  padding: 0 16px;
  font-size: 14px;
}
.btn_min.act {
  cursor: default;
  pointer-events: none;
}

.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(25, 31, 50, 0.8);
  transition: all 1s ease-in-out;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 17px;
  z-index: 1000;
}
.modal-bg.vis {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 640px;
  background: #fff url(../img/modal_bg.png) center top no-repeat;
  top: 50%;
  left: calc(50% - 17px);
  transform: translate(-50%, -50%);
  border-radius: 16px;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
}
.modal.vis {
  opacity: 1;
  visibility: visible;
}
.modal_btn {
  width: calc(50% - 8px);
  height: 48px;
  transition: all 0.2s ease-in-out;
  border-radius: 16px;
}
.modal_btn:hover {
  box-shadow: 0px 3px 9px 0px #e2b6ff;
}
.modal_btn-app {
  background: url(../img/btn_app.png) center center no-repeat;
}
.modal_btn-pla {
  background: url(../img/btn_pla.png) center center no-repeat;
}
.modal__body {
  padding: 56px 72px;
}
.modal__logo {
  display: block;
  background: url(../img/logo_color.png) center center no-repeat;
  width: 218px;
  height: 48px;
  margin: 0 auto 32px;
}
.modal__desc {
  font-family: "medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  width: 300px;
  margin-bottom: 32px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
}
.modal__desc_min {
  display: none;
}
.modal__action {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.modal__close {
  width: 48px;
  height: 48px;
  background: #fff url(../img/close.svg) center center no-repeat;
  border-radius: 16px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.title {
  text-align: center;
  font-family: "demi", sans-serif;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 80px;
}
.title_h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-family: "regular", sans-serif;
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 30px;
}
.title_h2-action {
  display: flex;
  gap: 20px;
}
.title_h2-action .select2-title {
  display: block;
  margin-right: -14px;
  font-size: 13px;
}
.title_h2-action .select2-container--default .select2-selection--single {
  border: 1px solid #959191;
  border-radius: 14px;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.title_h2-action .select2-container .select2-selection--single .select2-selection__rendered {
  display: flex;
  align-items: center;
  line-height: 14px;
  padding-left: 15px;
  padding-right: 24px;
}
.title_h2-action .select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 4px;
}

.form__label-group {
  border: 0;
  padding: 0;
  margin: 0 0 16px;
}
.form__label-group.has-error .form__error-text {
  display: block;
}
.form__label-group.has-error .form__control {
  border-color: #c80d4a;
}
.form__error-text {
  display: none;
  margin-top: 5px;
  padding: 0 30px;
  color: #c80d4a;
  font-size: 16px;
}
.form__error-message {
  border-radius: 16px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #c80d4a;
  padding: 15px 30px 20px;
  color: #c80d4a;
  background: rgba(200, 13, 74, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}
.form__error-message svg {
  fill: #c80d4a;
  width: 40px;
  height: 40px;
}
.form__control {
  width: 100%;
  border-radius: 16px;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #EAAAFA;
  padding: 0 30px;
}
.form__control::-moz-placeholder {
  color: #90949D;
  opacity: 1;
}
.form__control::placeholder {
  color: #90949D;
  opacity: 1;
}

.article-wrap {
  margin-bottom: 60px;
}

.daterange-input {
  height: 28px;
  padding: 0 16px;
  font-size: 14px;
  border: 1px solid #959191;
  border-radius: 14px;
  cursor: pointer;
}

.daterangepicker .drp-buttons .btn {
  height: 28px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 400;
}

.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.active.in-range {
  background-color: #a472ec !important;
}

.daterangepicker td.in-range {
  background-color: #fbe9ff;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #f6ccff;
}

.daterangepicker .drp-selected {
  font-size: 14px;
  padding-right: 16px;
}

.table {
  font-size: 15px;
}
.table tr th {
  font-weight: 400;
  font-family: "demi", sans-serif;
}
.table tr td span {
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.table tr td a {
  color: #9562dd;
  text-decoration: underline;
}
.table tr td a:hover {
  text-decoration: none;
}
.table tr td .id {
  width: 20px;
  height: 20px;
  fill: #e95050;
  display: none;
}
.table tr td .id_pos {
  fill: #329532;
}
.table tr td .id.vis {
  display: block;
}
.table tr td .ids {
  display: none;
  color: #e95050;
}
.table tr td .ids svg {
  width: 20px;
  height: 20px;
  fill: #e95050;
  transition: all 0.2s ease-in-out;
}
.table tr td .ids:hover svg {
  transform: scale(1.1);
}
.table tr td .ids_pos {
  color: #329532;
}
.table tr td .ids_pos svg {
  fill: #329532;
}
.table tr td .ids.vis {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.table_user tr:first-child td {
  text-align: center;
}
.table_user tr:first-child td img {
  border-radius: 32px;
}
.table_user tr td:first-child {
  text-align: right;
}
.table_user tr td:last-child {
  font-family: "medium", sans-serif;
}

.select2-container {
  width: auto !important;
  min-width: 200px;
}

.select2-results__option--selectable {
  font-size: 16px !important;
}

.select2-container--default .select2-results__option--selected {
  background-color: #f9e6fe;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #c984f5;
  color: white;
}

.select2-results__option {
  padding: 3px 16px;
}

.search-wrap {
  display: flex;
  gap: 10px;
}
.search-wrap input {
  height: 28px;
  padding: 0 16px;
  font-size: 14px;
  border: 1px solid #959191;
  border-radius: 14px;
}
@media only screen and (max-width: 1300px) {
  .post-wrap .post-next {
    right: -60px;
  }
  .post-wrap .post-prev {
    left: -60px;
  }
}
@media only screen and (max-width: 1100px) {
  .aside {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 0px;
    padding: 16px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
  }
  .logo {
    display: block;
    width: 102px;
    height: 16px;
    background: url(../img/logo_min.png) center center no-repeat;
  }
  .login, .app-group, hr {
    display: none;
  }
  .main {
    padding: 72px 0;
  }
  .btn.btn_head {
    display: flex;
    height: 40px;
    padding: 0 24px;
    font-family: "medium", sans-serif;
    font-size: 18px;
    line-height: 22px;
  }
  .page {
    border-radius: 16px 16px 0px 0px;
  }
  .post {
    margin-bottom: 40px;
  }
  .post__pic, .slick-list, .post__video, .post__audio {
    border-radius: 0;
  }
  .post__action {
    margin: 26px 0 18px;
    padding: 0 15px;
  }
  .post__text {
    padding: 0 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    position: relative;
  }
  .post__text.full {
    -webkit-line-clamp: initial;
  }
  .post__all {
    padding: 0 15px;
  }
  .post__more {
    display: block;
    position: absolute;
    right: 15px;
    bottom: 1px;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #939AAE;
    font-family: "medium", sans-serif;
    cursor: pointer;
    padding-left: 15px;
    background: #fff;
    transition: all 0.2s ease-in-out;
  }
  .post__more::before {
    display: block;
    content: "";
    width: 40px;
    height: 20px;
    left: -40px;
    top: 0;
    position: absolute; /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgb(255, 255, 255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#001e5799", endColorstr="#ffffff",GradientType=1 ); /* IE6-9 */
  }
  .post__more:hover {
    text-decoration-line: none;
    color: #191F32;
  }
  body.oh {
    padding-right: 0;
  }
  .modal {
    z-index: 1000;
    left: 50%;
    width: 340px;
  }
  .modal-bg.vis {
    z-index: 1000;
  }
  .modal__body {
    padding: 50px;
  }
  .modal__close {
    top: 16px;
    right: 16px;
  }
  .modal__logo {
    background: url(../img/logo_min_modal.png) center center no-repeat;
    width: 154px;
    height: 24px;
    margin: 0 auto 24px;
  }
  .modal__desc {
    display: none;
  }
  .modal__desc_min {
    display: block;
    width: auto;
    margin-bottom: 24px;
  }
  .modal__action {
    flex-direction: column;
    gap: 16px;
  }
  .modal_btn {
    width: 240px;
  }
  .post-wrap .post-next {
    right: -100px;
  }
  .post-wrap .post-prev {
    left: -100px;
  }
}
@media only screen and (max-width: 900px) {
  .post-wrap {
    padding: 0 80px;
  }
  .post-wrap .post-next {
    right: 0px;
  }
  .post-wrap .post-prev {
    left: 0px;
  }
  .post__head_single {
    margin: 0 10px 16px;
    padding: 5px !important;
  }
}
@media only screen and (max-width: 640px) {
  .container {
    width: 100%;
    padding: 32px 0 0;
  }
  .user__main {
    padding: 0 28px;
  }
  .user__about, .user__action {
    padding: 0 15px;
  }
  .user__nick {
    font-size: 16px;
    line-height: 20px;
  }
  .page {
    background: url(../img/page_bg_min.png) left top/100% no-repeat;
  }
  .user__ava {
    min-width: 120px;
  }
  .user__follow-count {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 2px;
  }
  .user__follow-label {
    font-size: 16px;
    line-height: 20px;
  }
  .user__about {
    font-size: 16px;
    line-height: 22px;
  }
  .user__action {
    margin: 24px 0 32px;
  }
  .btn {
    height: 40px;
    padding: 0 12px;
  }
  .tab {
    padding: 0 15px;
    margin-bottom: 24px;
  }
  .btn_center {
    width: calc(100% - 30px);
  }
  .post__head {
    padding: 0 15px;
  }
}/*# sourceMappingURL=main.css.map */