
@font-face {
    font-family: 'bold';
    src: url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'demi';
    src: url('../fonts/AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'medium';
    src: url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'regular';
    src: url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import '_var';
@import '_help';

html{
    -webkit-tap-highlight-color: transparent;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: $f400;
    color: $text-color;
    font-size: 18px;
    line-height: 22px;
    &.body_login{
        background: url(../img/page_bg.png) left top / 100% no-repeat;
        background-attachment: fixed;
        .main{
            padding: 0;
        }
        .page{
            padding: 0;
            background: none;
        } 
        .container{
            width: 400px;
            padding-bottom: 50px;
        }
    }
}
.aside{
    position: fixed;
    width: 320px;
    top: 0;
    left: 0;
    bottom: 0;
    //background: url(../img/side_bg.png) center bottom no-repeat, linear-gradient(24.96deg, #7321E8 25.46%, #EAAAFA 88.49%);
    background: url(../img/side_bg.png) center bottom no-repeat, linear-gradient(24.96deg, #7321E8 25.46%, #EAAAFA 88.49%);
    border-radius: 0px 16px 16px 0px;
    padding: 40px;
    &__nav{
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        gap: 16px;
        .btn{
            border: 1px solid #EAAAFA;
            &:hover{
                box-shadow: 0px 16px 32px rgba(54, 16, 106, 0.5);
                border: 1px solid #fff;
            }
            &.act{
                border: 0;
                cursor: default;
                pointer-events: none;
                &:hover{
                    box-shadow: none;
                    border: 0;
                }
            }
        }
    }
}
.logo{
    display: block;
    width: 218px;
    height: 48px;
    background: url(../img/logo.svg) center center no-repeat;
}

.main{
    padding: 40px 40px 40px 360px;
}
.container{
    width: 1000px;
    margin: 0 auto;
    padding: 140px 0 240px;
}
.page{
    background: url(../img/page_bg.png) left top / 100% no-repeat;
    min-height: calc(100vh - 80px);
}
.btn {
    background: linear-gradient(41.19deg, #7321E8 9.55%, #EAAAFA 95.15%);
    border-radius: 16px;
    height: 48px;
    font-size: 16px;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: $f450;
    cursor: pointer;
    transition: $transition;
    border: 0;
    padding: 0 40px;
    &:hover{
        background: linear-gradient(41.19deg, #7321E8 9.55%, #EAAAFA 95.15%);
        box-shadow: 0px 16px 32px rgba(115, 33, 232, 0.25);
    }
    &:active{
        background: linear-gradient(41.19deg, #571BAD 9.55%, #CF95DD 95.15%);
        color: #fff;
    }
    &:focus{
        color: #fff;
    }
    &:disabled{
        background: linear-gradient(41.19deg, rgba(115, 33, 232, 0.5) 9.55%, rgba(234, 170, 250, 0.5) 95.15%);
        box-shadow: none;
        cursor: not-allowed;
    }
    svg{
        width: 20px;
        height: 20px;
        fill: #fff;
        margin-right: 8px;
    }
    &_light {
        background: #F9E6FE;
        color: #7321E8;
        stroke: #7321E8 !important;
        &:hover{
            background: #F9E6FE;
            box-shadow: 0px 16px 32px rgba(183, 115, 237, 0.15);
        }
        &:active{
            background: rgba(212, 111, 237, 0.3);
            color: #7321E8;
        }
        &:focus{
            color: #7321E8;
        }
        &:disabled{
            background: rgba(147, 154, 174, 0.1);
            box-shadow: none;
            cursor: not-allowed;
            color: #939AAE;
            svg{
                stroke: #939AAE !important;
            }
        }
    }
    &_neg{
        background: linear-gradient(41.19deg, #DB378C 9.55%, #FFD3E1 95.15%);
        &:hover{
            background: linear-gradient(41.19deg, #DB378C 9.55%, #FFD3E1 95.15%);
            box-shadow: 0px 16px 32px rgba(232, 33, 192, 0.25);
        }
    }
    &_light-inactive {
        background: rgba(147, 154, 174, 0.1);
        color: #939AAE;
        &:hover{
            background: #F9E6FE;
            box-shadow: 0px 16px 32px rgba(183, 115, 237, 0.15);
            color: #7321E8;
        }
    }
    &_center{
        display: inline-flex;
        margin: 0 auto;
    }
    &_min{
        height: 28px;
        padding: 0 16px;
        font-size: 14px;
        &.act{
            cursor: default;
            pointer-events: none;
        }
    }
}


.modal-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(25, 31, 50, 0.8);
    transition: $transition1;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 17px;
    z-index: 1000;
    &.vis{
        opacity: 1;
        visibility: visible;
    }
}
.modal {
    width: 640px;
    background: #fff url(../img/modal_bg.png) center top no-repeat;
    top: 50%;
    left: calc(50% - 17px);
    transform: translate(-50%,-50%);
    border-radius: 16px; 
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
    &.vis{
        opacity: 1;
        visibility: visible;
    }
    &_btn {
        width: calc(50% - 8px);
        height: 48px;
        transition: $transition;
        border-radius: 16px;
        &:hover{
            box-shadow: 0px 3px 9px 0px #e2b6ff;
        }
    }
    &_btn-app {
        background: url(../img/btn_app.png) center center no-repeat;
    }
    &_btn-pla {
        background: url(../img/btn_pla.png) center center no-repeat;
    }
    &__body {
        padding: 56px 72px;
    }
    &__logo {
        display: block;
        background: url(../img/logo_color.png) center center no-repeat;
        width: 218px;
        height: 48px;
        margin: 0 auto 32px;
    }
    &__desc {
        font-family: $f450;
        font-size: 18px;
        line-height: 26px;
        width: 300px;
        margin-bottom: 32px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 32px;  
        &_min{
            display: none;
        }  
    }
    &__action {
        display: flex;
        gap: 16px;
        justify-content: center;
    }
    &__close {
        width: 48px;
        height: 48px;
        background: #fff url(../img/close.svg) center center no-repeat;
        border-radius: 16px;
        position: absolute;
        top: 24px;
        right: 24px;
        cursor: pointer;
    }
}
.title{
    text-align: center;
    font-family: $f700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 80px;
    
    &_h2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        font-family: $f400;
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 30px;
        &-center{
            justify-content: center;
        }
        &-action{
            display: flex;
            gap: 20px;
            .select2-title{
                display: block;
                margin-right: -14px;
                font-size: 13px;
            } 
            .select2-container--default .select2-selection--single {
                border: 1px solid #959191;
                border-radius: 14px;
                font-size: 15px;
                display: flex;
                align-items: center;
            }
            .select2-container .select2-selection--single .select2-selection__rendered {
                display: flex;
                align-items: center;
                line-height: 14px;
                padding-left: 15px;
                padding-right: 24px;
            }
            .select2-container--default .select2-selection--single .select2-selection__arrow {
                right: 4px;
            }
            
        }
    }
}
.form {
    &__label-group {
        border: 0;
        padding: 0;
        margin: 0 0 16px;
        &.has-error{
            .form__error-text{
                display: block;
            }
            .form__control{
                border-color: #c80d4a;
            }
        }
    }
    &__error-text {
        display: none;
        margin-top: 5px;
        padding: 0 30px;
        color: #c80d4a;
        font-size: 16px;
    }
    &__error-message {
        border-radius: 16px;
        font-size: 16px;
        line-height: 20px;
        border: 1px solid #c80d4a;
        padding: 15px 30px 20px;
        color: #c80d4a;
        background: rgba(200, 13, 74, .05);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 16px;
        svg{
            fill: #c80d4a;
            width: 40px;
            height: 40px;
        }
    }
    &__control {
        width: 100%;
        border-radius: 16px;
        height: 48px;
        font-size: 16px;
        line-height: 20px;
        border: 1px solid #EAAAFA;
        padding: 0 30px;
        &::placeholder{
            color: #90949D;
            opacity: 1;
        }
    }
}
.article-wrap{
    margin-bottom: 60px;
}
.daterange-input{
    height: 28px;
    padding: 0 16px;
    font-size: 14px;
    border: 1px solid #959191;
    border-radius: 14px;
    cursor: pointer;
}
.daterangepicker .drp-buttons .btn{
    height: 28px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
}
.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.active.in-range {
    background-color: #a472ec !important;
}
.daterangepicker td.in-range {
    background-color: #fbe9ff;
}
.daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background-color: #f6ccff;
}
.daterangepicker .drp-selected {
    font-size: 14px;
    padding-right: 16px;
}
.invis{
    display: none;
}
.table{
    font-size: 15px;
    
    &-wrap{

    }
    tr{

        th{
            font-weight: 400;
            font-family: $f700;
        }
        td{
            .btn{
                color: #fff;
                text-decoration: none;
                margin-left: 10px;
            }
            .df{
                gap: 10px;
                .btn{
                    margin: 0;
                }
            }
            span{
                display: block;
                font-size: 12px;
                line-height: 14px;
            }
            a{
                color: #9562dd;
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                }
            }
            
            .ids{
                display: none;
                color: #e95050;
                &__text{
                    color: $text-color;
                }
                &__action{
                    
                }
                &__status{
                    margin-left: 5px;
                    font-size: 14px;
                    font-family: $f700;
                }
                svg{
                    width: 20px;
                    height: 20px;
                    fill: #e95050;
                    transition: $transition;
                }

                &_pos{
                    color: #329532;
                    svg{
                        fill: #329532;
                        
                    }
                }

                &.vis{
                    display: flex;
                    align-items: center;
                    //gap: 20px;
                }
            }
        }
    }
    &_user{
        tr{
            &:first-child{
                td{
                    text-align: center;
                    img{
                        border-radius: 32px;
                    }
                }
            }
            td{
                &:first-child{
                    text-align: right;
                }
                &:last-child{
                    font-family: "medium", sans-serif;
                }
                
            }
        }
    }
}
.select2-container{
    width: auto !important;
    min-width: 200px;
}
.select2-results__option--selectable {
    font-size: 16px !important;
}
.select2-container--default .select2-results__option--selected {
    background-color: #f9e6fe;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #c984f5;
    color: white;
}
.select2-results__option {
    padding: 3px 16px;
}
.search-wrap{
    display: flex;
    gap: 10px;  
    input{
        height: 28px;
        padding: 0 16px;
        font-size: 14px;
        border: 1px solid #959191;
        border-radius: 14px;
    }
    buttoN{
            
    }
}




























@import '_query';